<h1><center>Documents</center></h1>



<!--Welcome {{currentUser.username}}-->

<span ng-show="currentUser" ng-hide="currentUser.roles.indexOf('admin') != -1">


    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Documents</h1>
            </div>

            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Document Name</th>
                            <th>FileType</th>
                            <th>Download</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="meta in vm.imageValues">
                            <td> <img ng-src="http://localhost:3001/api/files/{{meta.imageId}}" height="100px" width="100px"/></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>


</span>