<div id="documentsView">
    <h1><center>Documents</center></h1>
    <!--Welcome {{currentUser.username}}-->
    <span ng-show="currentUser" ng-hide="currentUser.roles.indexOf('admin') != -1">

   <button class="btn btn-primary btn-md" ng-hide="addDocuments == true;" ng-click="addDocuments=!addDocuments"> Add a Document</button>
   <div class="container create-documents" ng-hide="!addDocuments">
       <div class="form-group">
           <label for="docTitle">Document</label>

       </div>

<input class="btn btn-primary" type="file" ngf-select='vm.upload($file)'>


       <button class="btn btn-success" ng-click="addDocuments = false;">Back</button>
   </div>

   <div class="col-md-12">
       <div class="panel panel-default">
           <div class="panel-heading">
               <h1>Documents</h1>
           </div>

           <div class="panel-body">

               <table class="table table-hover">
                   <thead>
                       <tr>
                           <th>Document</th>
                           <th>File Name</th>
                           <th>Download</th>
                       </tr>
                   </thead>
                   <tbody>


                       <tr >
                           <td></td>
                           <td></td>
                           <td></td>
                       </tr>
                   </tbody>
               </table>
           </div>

       </div>
   </div>


</span>

</div>